Source: env-manager
Priority: optional
Maintainer: lalalala256
Build-Depends: debhelper (>=9), dh-exec

Package: env-manager
Architecture: any
Depends:
    aptitude,
    debhelper,
    dpkg-dev,
    fcitx,
    git,
    htop,
    nmon,
    vim
Description: Manage developer environment.
